.resultPage{
  background: #A2C7D7;
  .title{
    color: white;
    padding-top: 48px;
    text-align: center;
  }
  .subTitle{
    color: white;
    //padding-top: 48px;
    margin-bottom: 48px;
  }
  .recomeBtn{
    width: 60vw;
  }

}
